P {
  font-family: "Barlow", sans-serif;
}

h1 {
  font-family: "Fraunces", serif;
}

body {
  margin: 0;
}

nav {
  background-image: url(../images/desktop/image-header.jpg);
  height: 822px;
  width: 100%;
  padding: 30px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-menu li {
  padding: 5px 15px;
  border-radius: 10px;
  margin-right: 5px;
}

.nav-menu li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-menu li:hover a {
  color: white;
}

.nav-menu a {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  color: white;
}

.title h1 {
  margin-top: 150px;
  font-family: "Fraunces", serif;
  letter-spacing: 2px;
  font-weight: 900;
}

.title img {
  margin-top: 120px;
  width: 30px;
}

.mob-nav {
  display: none;
}

#nav-content {
  display: none;
}

.card-1 h1 {
  font-weight: 900;
}

.card-1 a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  position: relative;
  z-index: 1;
}

.card-1 p {
  margin: 50px 0;
  color: #a7abae;
}

.card-cherry,
.card-orange {
  position: relative;
}

.card-cherry h1,
.card-orange h1 {
  color: #25564b;
  font-weight: 900;
  font-size: 30px;
}

.cherry-content, .orange-content {
  position: absolute;
  bottom: 60px;
  left: 24%;
}

.cherry-content P, .orange-content P {
  color: #25564b;
}

.orange-content P {
  color: #19536b;
}

.testimonials-wrapper h1 {
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 30px;
  color: #818498;
  font-weight: 900;
}

.testimonials-wrapper p {
  color: #5a636c;
}

.name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 20px;
}

.position {
  font-size: 15px;
}

.mob-gallary {
  display: none;
}

footer {
  background-color: rgba(69, 140, 126, 0.6);
}

footer h1 a {
  color: #2D7465;
  font-weight: 900;
  text-decoration: none;
}

.footer-menu ul, .social-icons ul {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}

.footer-menu a, .social-icons a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #458c7e;
}

.footer-menu a:hover, .social-icons a:hover {
  color: white;
}

@media (max-width: 1020px) {
  .title h1 {
    font-size: 30px;
    margin: 50px 0;
  }
  .title img {
    margin-top: 0;
    width: 20px;
  }
  .desktop-gallary {
    display: none;
  }
}

@media (max-width: 699px) {
  .mob-nav {
    display: block;
  }
  .mob-nav button {
    background: none;
    border: none;
  }
  .nav-menu {
    display: none;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav {
    height: 400px;
    background-size: cover;
  }
  #nav-content {
    width: 91%;
    margin: 10px auto;
    position: fixed;
  }
  .nav-mob-menu {
    background-color: white;
  }
  .nav-mob-menu ul {
    text-align: center;
    padding: 0;
    line-height: 2.5;
    list-style: none;
    padding: 20px 0;
  }
  .nav-mob-menu li {
    margin: 10px auto;
    width: 120px;
    border-radius: 30px;
  }
  .nav-mob-menu li:hover {
    background-color: #fad400;
  }
  .nav-mob-menu li:hover a {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
  }
  .nav-mob-menu a {
    color: black;
    font-family: "Barlow", sans-serif;
    text-decoration: none;
  }
  .shape-traingle {
    width: 0;
    height: 0;
    border-bottom: 40px solid white;
    border-left: 40px solid transparent;
    margin-bottom: -1px;
  }
  .card-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card-1 {
    padding: 40px 20px;
    text-align: center;
  }
  .card-1 p {
    margin: 20px 0;
    font-size: 13px;
  }
  .orange-content, .cherry-content, .orange-content {
    bottom: 10px;
    left: 15%;
  }
  .orange-content p,
  .cherry-content p,
  .orange-content p {
    font-size: 13px;
  }
  .mob-gallary {
    display: block;
  }
}

@media (min-width: 700px) and (max-width: 1020px) {
  .logo {
    text-align: center;
    margin-bottom: 30px;
  }
  nav {
    height: 450px;
  }
  .card-1 {
    padding: 0px 20px;
  }
  .card-1 p {
    font-size: 13px;
  }
  .orange-content, .cherry-content, .orange-content {
    bottom: 10px;
    left: 20%;
  }
  .orange-content p,
  .cherry-content p,
  .orange-content p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=index.css.map */